body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: "Nunito";
  margin-bottom: 75px;
}

.home-button {
  font-family: "Montserrat";
  font-weight: bold;
}

b {
  font-weight: 900;
}

#footerGithubLogo {
  height: 20px;
  width: 20px;
  color: red;
}

#mainContent {
  padding-left: 200px;
  padding-right: 200px;
}

footer {
  border-top: 10px;
  border-color: white;
}
